FASTAPI__PROJECT_NAME=movies
FASTAPI__REDIS_SETTINGS__HOST=redis
FASTAPI__REDIS_SETTINGS__PORT=6379
FASTAPI__ELASTIC_SETTINGS__SCHEME=http
FASTAPI__ELASTIC_SETTINGS__HOST=elastic_search
FASTAPI__ELASTIC_SETTINGS__PORT=9200